# -------------------------
# Prerequisites
# -------------------------
*.d

# -------------------------
# Object files
# -------------------------
*.o
*.ko
*.obj
*.elf

# -------------------------
# Linker output
# -------------------------
*.ilk
*.map
*.exp

# -------------------------
# Precompiled Headers
# -------------------------
*.gch
*.pch

# -------------------------
# Libraries
# -------------------------
*.lib
*.a
*.la
*.lo

# -------------------------
# Shared objects (inc. Windows DLLs)
# -------------------------
*.dll
*.so
*.so.*
*.dylib

# -------------------------
# Executables
# -------------------------
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Default GCC/Clang output
a.out

# Ignore executables with no extension (but keep source files with dots)
*
!*/
!*.*
!Makefile
!makefile

# -------------------------
# IDE / Editor configs
# -------------------------
.vscode/
*.code-workspace

# -------------------------
# Certificates / Keys
# -------------------------
*.pem